.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 5s;
  }
  
  .modal_content {
    background: white;
        margin-top: 20px;
        -webkit-box-shadow: -1px 3px 51px 29px rgba(50, 0, 92, 0.2);
        -moz-box-shadow: -1px 3px 51px 29px rgba(50, 0, 92, 0.2);
        box-shadow: -1px 3px 51px 29px rgba(50, 0, 92, 0.2);
    padding: 20px;
    transition: all 5s;
    border-radius: 5px;
  }
  
  .modal_content img {
    width: 100%;
    transition: all 5s;
    max-width: 400px;
    height: auto;
  }