
.menu{
 margin-top: 40px;
}

.menu_list{
display: flex;
}
.menu_list li{
 margin-left: 10px;
}
.menu_item{
    margin-left: 25px;
}

.container_photos{
    margin-top: 20px;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}

.false_{
    color: black;
}

.true_{
    color: rgb(255, 0, 123) !important;
}
.photos_all{
width: 200px;
}

.photos_made{
    width: 300px;
}
.photos_not{
    width: 400px;
}
