*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
   
    line-height: 1;
    font-size: 16px;
    color: black;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}
a{
    transition: 2s;
    text-decoration: none;
    color: #48041d;
}
a:hover {
    background: linear-gradient(
            to right,
            rgba(10, 50, 90, 0.64) 30%,
            rgba(31, 29, 72, 0.64) 45%,
            rgb(2, 28, 85) 50%,
            rgb(96, 120, 175) 55%,
            rgb(11, 25, 65) 60%,
            rgb(6, 51, 76) 65%
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: flow 2s linear infinite;
    cursor: pointer;
}
@keyframes flow {
    to{background-position: 200% center}

}

a:active {
    top: 5px;
}

li{
    list-style-type: none;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    position: relative;
    left: 0;


    top: 0;
    flex: 1 0 auto;
  
  
}

/* ///////////////////////////////////////////////header///////////////////////////////////////////////////////////////// */
.header{
    position: absolute;
    width: 100%;
    z-index: 100;

    align-items: center;
    justify-content: center;
    scroll-snap-align: start;

}
.header_menu{
    
}
.header_container{
   
}

.menu_list{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}
.menu_list li{
    margin-left: 30px;
}
.burger{
    display: none;
}
.header_container{
    display: block;
    height: 100vh;

    
}
@media(max-width:600px){

    .burger{
        display: block;
    }
    .header_container{
        display: none;
    }
}

/* ///////////////////////////////////////////////header///////////////////////////////////////////////////////////////// */
.page{
   
}
.portfolio{
    height: 100vh;
    margin: 20px;
    scroll-snap-align: start;

}
.tarif{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}
.me{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;

}
.otzav{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
   

}
/* ///////////////////////////////////////////////footer///////////////////////////////////////////////////////////////// */
.footer{
    flex-shrink: 0;
    /* height: 100vh; */
   
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
  
}
.footer a{
    
  
}
/* ///////////////////////////////////////////////footer///////////////////////////////////////////////////////////////// */



/*....MENU......................................................*/


